.ingredient {
  width: 70px;
  height: 90px;
  margin-left: 40px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.ingredient {
  position: relative;
  top: -35px;
}

.ingredient:hover {
  transform: scale(1.1);
  transform-origin: center;
}