.root {
  display: flex;
  line-height: 27px;
}

.icon {
  height: 50px;
  width: 50px;
}

.barTable {
  border: 1px solid #e3e3e3;
  height: 20px;
}

.gameContainer {
  background-image: url('../../static/images/icon/background.svg');
}