.root {
  display: flex;
  line-height: 27px;
}

.icon {
  height: 50px;
  width: 50px;
}

.barTable {
  border: 1px solid #e3e3e3;
  height: 20px;
}

.gameContainer {
  background-image: url('../../static/images/icon/background.svg');
  background-repeat: no-repeat;
  background-size: 800px 460px;
  width: 800px;
}

.prepStationContainer {
  background-image: url('../../static/images/icon/kitchen.svg');
  background-repeat: no-repeat;
  background-size: 800px 430px;
  /* background-size: auto;
  width: 790px; */
}