.root {
  display: flex;
  line-height: 27px;
}

h3 {
  margin-top: 8px;
  font-family: "Cabin Sketch";
	/* font-size: 14px; */
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 15.4px;
  color: White
}

.icon {
  height: 50px;
  width: 50px;
}

.barTable {
  border: 1px solid #e3e3e3;
  height: 20px;
}

.gameContainer {
  background-image: url('../../static/images/icon/background.svg');
  background-repeat: no-repeat;
  background-size: 800px 460px;
  width: 800px;
}

.prepStationContainer {
  background-image: url('../../static/images/icon/kitchen.svg');
  background-repeat: no-repeat;
  background-size: 800px 430px;
  /* background-size: auto;
  width: 790px; */
}