.customerContainer {
  display: flex;
  height: 175px;
  margin-bottom: 42px;
  margin-top: -10px;
}

.avatarContainer {
  display: flex;
  flex-direction: row
}

.avatar {
  display: inline-block;
  width: 200px;
  height: 150px;
  animation: onEnter .4s linear;
}

.nudge {
  animation: nudge .4s linear;
}

@keyframes nudge {
  
  0% {
    transform: translateY(-10px);
  }
  
  33% {
    transform: translateY(-15px);
  }
  
  66% {
    transform: translateY(-20px);
  }
}

@keyframes onEnter {
  
  0% {
    transform: rotate(-7deg);
  }
  
  33% {
    transform: rotate(7deg);
  }
  
  66% {
    transform: rotate(-7deg);
  }
}


.orderMenu {
  text-align: center;
  height: 24;
}

.emptySeat {
  display: inline-block;
  width: 200px;
  height: 150px;
}