.customerContainer {
  display: flex;
  height: 175px;
  margin-bottom: 42px;
  margin-top: -10px;
}

.avatarContainer {
  display: flex;
  flex-direction: row
}

.avatar {
  display: inline-block;
  width: 200px;
  height: 150px;
  animation: onEnter .4s linear;
}

.nudge {
  animation: nudge .4s linear;
}

.angry {
  animation: angry .4s infinite;
}

@keyframes nudge {
  
  0% {
    transform: translateY(-10px);
  }
  
  33% {
    transform: translateY(-15px);
  }
  
  66% {
    transform: translateY(-20px);
  }
}

@keyframes onEnter {
  
  0% {
    transform: rotate(-7deg);
  }
  
  33% {
    transform: rotate(7deg);
  }
  
  66% {
    transform: rotate(-7deg);
  }
}

@keyframes angry {
  
  0% {
    transform: scale(1.01, 1.01);
  }
  
  33% {
    transform: scale(1.03, 1.03);
  }
  
  66% {
    transform: scale(1.05, 1.05);
  }
}


.orderMenu {
  text-align: center;
  width: 80px;
  height: 24px;
  float: right;
}

.emptySeat {
  display: inline-block;
  width: 200px;
  height: 150px;
}

.customerOrderContainer {
  width: 200px;
}