.controllerContainer {
  /* background-image: url('../../static/images/icon/kitchen.svg');
  background-size:cover; */
  display: flex;
}

.prepStation {
  background: url('../../static/images/icon/kitchen.svg') no-repeat center center;
}