.complimentContainer {
  border: 1px solid #e3e3e3;
  width: 40%;

  display: flex;
  justify-content: center;
}

.complimentButton {
  width: 150px;
  margin-left: 72px;
  margin-top: 50px;
  /* transform: rotate(90deg); */
}

.complimentButton:hover {
  transform: scale(1.05)
}